<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87709005556-nllu2pj8uh84gu8nctpa5gtufksffqu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87709005556-nllu2pj8uh84gu8nctpa5gtufksffqu5</string>
	<key>API_KEY</key>
	<string>AIzaSyBe9KvMcgr3dz8erlaE21f8Bx9vHoZIBpw</string>
	<key>GCM_SENDER_ID</key>
	<string>87709005556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maciejsulikowski.pizzaOlsztyn</string>
	<key>PROJECT_ID</key>
	<string>pizka-olsztyn</string>
	<key>STORAGE_BUCKET</key>
	<string>pizka-olsztyn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87709005556:ios:0a4c61b97d6efd4a0150a1</string>
</dict>
</plist>